<div class="products-container">
  <h2>
    @if (route.snapshot.queryParamMap.get('category') === 'laptop') {
      لپتاپ‌ها
    } @else if (route.snapshot.queryParamMap.get('category') === 'phone') {
      گوشی‌ها
    } @else if (route.snapshot.queryParamMap.get('category') === 'headphone') {
      هدفون‌ها
    } @else {
      همه محصولات
    }
  </h2>

  <div class="product-grid">
    @for (product of filteredProducts; track product.id) {
      <div class="product-card">
        <img [src]="product.image" [alt]="product.name" />
        <h3>{{ product.name }}</h3>
        <p>{{ product.brand }}</p>
        <div class="price">{{ product.price | currency:'IRR':'symbol':'0.0' }}</div>
        <div class="rating">
          @for (i of starArray; track i) {
            <mat-icon *ngIf="i < product.rating" color="warn">star</mat-icon>
            <mat-icon *ngIf="i >= product.rating" color="disabled">star_border</mat-icon>
          }
        </div>
        <button mat-raised-button color="primary">افزودن به سبد</button>
      </div>
    }
  </div>
</div>